.privacy{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F1A2B;
    gap: 10px;
    padding: 2rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-size: cover;
    background-position: center;
    background-image: url('/assets/historia/adicionales/Privacidad.png');
}

.privacy__block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.privacy__title{
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.privacy__subtitle{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.privacy__description{
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    font-family: 'Baloo 2', sans-serif;
}