.privacy-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.privacy__back-link{
    align-self: self-start;
    Font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    color: #0F1A2B;
    background-color: white;
    transition: 0.3s, color 0.3s;
}

.privacy__back-link:hover{
    background-color: #f2f2f2bb;
}

.privacy__img{
    width: 90%;
    max-width: 320px;
    border: 5px solid #f2f5f7;
    border-radius: 50px;
} 

.privacy__block-blue{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F1A2B;
    gap: 20px;
    padding: 2rem;
}

.privacy__title-blue{
    color: white;
    font-weight: bold;
    font-size: clamp(30px, 5vw, 50px);
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.privacy__subtitle-blue{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.privacy__description-blue{
    color: white;
    font-size: 20px;
    text-align: start;
    line-height: 1.5;
    font-family: 'Baloo 2', sans-serif;
}

.privacy__block-white{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f5f7;
    gap: 20px;
    padding: 2rem;
}

.privacy__title-white{
    color: #0F1A2B;
    font-weight: bold;
    font-size: clamp(30px, 5vw, 50px);
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.privacy__subtitle-white{
    color: #0F1A2B;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.privacy__description-white{
    color: #0F1A2B;
    font-size: 20px;
    text-align: start;
    line-height: 1.5;
    font-family: 'Baloo 2', sans-serif;
}