.privacy-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.privacy__block-blue{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F1A2B;
    gap: 20px;
    padding: 2rem;
}

.privacy__title-blue{
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.privacy__subtitle-blue{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.privacy__description-blue{
    color: white;
    font-size: 20px;
    text-align: start;
    line-height: 1.5;
    font-family: 'Baloo 2', sans-serif;
}

.privacy__block-white{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f5f7;
    gap: 20px;
    padding: 2rem;
}

.privacy__title-white{
    color: #0F1A2B;
    margin: 10px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.privacy__subtitle-white{
    color: #0F1A2B;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.privacy__description-white{
    color: #0F1A2B;
    font-size: 20px;
    text-align: start;
    line-height: 1.5;
    font-family: 'Baloo 2', sans-serif;
}