.personaje-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #0F1A2B;
    padding: 2rem;
}

.personaje__return-link {
    align-self: self-start;
    Font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    color: #0F1A2B;
    background-color: white;
    transition: 0.3s, color 0.3s;
}

.personaje__return-link:hover{
    background-color: #f2f2f2bb;
}

.personaje-intro__title{
    text-align: center;
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: clamp(30px, 5vw, 50px);
    font-family: 'Caesar Dressing', sans-serif;  
}

.personaje-card__img{
    width: 100%;
    max-width: 350px;
    border: 5px solid white;
    border-radius: 50px;
}

.personaje-history__block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.personaje-history__subtitle{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.personaje-history__description{
    color: white;
    font-size: 20px;
    text-align: start;
    line-height: 1.5;
    font-family: 'Baloo 2', sans-serif;
}
