.personajes-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F1A2B;
    padding: 2rem;
}

.personajes-intro__title{
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Caesar Dressing', sans-serif;  
}

.personajes-intro__descripcion{
    color: white;
    font-size: 20px;
    text-align: start;
    line-height: 1.5;
    font-family: 'Baloo 2', sans-serif;
}