.personajes-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 2rem;
    background-color: #0F1A2B;
}

.personajes__back-link{
    align-self: self-start;
    Font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    color: #0F1A2B;
    background-color: white;
    transition: 0.3s, color 0.3s;
}

.personajes__back-link:hover{
    background-color: #f2f2f2bb;
}

.personajes-intro__title{
    color: white;
    font-weight: bold;
    font-size: clamp(30px, 5vw, 50px);
    font-family: 'Caesar Dressing', sans-serif;
    text-align: center;  
}

.personajes-intro__descripcion{
    color: white;
    font-size: 20px;
    text-align: start;
    line-height: 1.5;
    font-family: 'Baloo 2', sans-serif;
}