.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    background-color: #F2F5F7;
}

.contact-form__title{
    color: #0F1A2B;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Caesar Dressing', sans-serif;  
    text-align: center;
}

.contact-form__img{
    width: 320px;
    border: 5px solid #0F1A2B;
    border-radius: 50px;
}   

.contact-form__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 50px 20px;
    width: 700px;
    background-color: #0F1A2B;
}

.contact-form__form:hover{
    border: 2px solid #0054d3;
    transition: 0.3s, color 0.3s;
}

.contact-form__field{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.contact-form__label{
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
    color: white;
}

.contact-form__input{
    width: 600px;
    height: 40px;
    border-radius: 5px;
    padding: 0px 15px;
    Font-family: 'Fredoka', sans-serif;
}

.contact-form__textarea{
    width: 600px;
    border-radius: 5px;
    padding: 15px;
    resize: none;
    min-height: 160px;
    line-height: 1.6;
    Font-family: 'Fredoka', sans-serif;
}

.contact-form__terms-label{
    font-family: 'Baloo 2', sans-serif;
    color: white;
}

.contact-form__terms-link{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.contact-form__submit {
    Font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    color: #0F1A2B;
    background-color: white;
    transition: 0.3s, color 0.3s;
}

.contact-form__submit:hover{
    background-color: #f2f2f2bb;
}