.footer{
    background-color: #111111;
}

.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.footer__logo{
    width: 70px;
}

.footer__nav-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer__nav-link{
    color: #FDFDFD;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Fredoka', sans-serif;
    transition: color 0.3s;
    position: relative;
}

.footer__nav-link:hover{
    color: #fff170bb;
}

.footer__nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;           
    height: 1px;        
    background-color: #fff170bb;
    transition: width 0.3s;
}

.footer__nav-link:hover::after {
    width: 100%;
}

.footer__redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__redes-instagram{
    margin: 0;
    width: 30px;
}

.footer__redes-instagram:hover{
    transform: scale(1.1);
    filter: brightness(1.3) sepia(1) saturate(5) hue-rotate(45deg);
}

.footer__redes-github{
    margin: 0;
    width: 20px;
}

.footer__redes-github:hover{
    transform: scale(1.1);
    filter: brightness(1.3) sepia(1) saturate(5) hue-rotate(45deg);
}

.footer__redes-name{
    font-family: 'Baloo 2', sans-serif;
    font-size: 12px;
    color: white;
    margin: 0;
}