.casa__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F1A2B;
    padding: 2rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    gap: 30px;
}

.casa__title {
    text-align: center;
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Caesar Dressing', sans-serif;  
}

.casa__container-img {
    display: flex;
    width: 100%;
    gap: 50px;
    justify-content: center;
}

.casa__img {
    width: 250px;
    border: 5px solid white;
    border-radius: 50px;
}

.casa__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.casa__block-subtitle {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.casa__block-description {
    color: white;
    font-size: 20px;
    text-align: start;
    line-height: 1.5;
    font-family: 'Baloo 2', sans-serif;
}