.inicio__history-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F1A2B;
    gap: 20px;
    padding: 2rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.inicio__history-title{
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Caesar Dressing', sans-serif;
    text-align: center;  
}

.inicio__history-bimg{
    width: 320px;
    border: 5px solid #f2f5f7;
    border-radius: 50px;
}

.inicio__history-descripcion{
    color: white;
    font-size: 20px;
    width: 90%;
    margin: 10px;
    text-align: start;
    line-height: 1.5;
    font-family: 'Baloo 2', sans-serif;
}

.inicio__history-link{
    Font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    color: #0F1A2B;
    background-color: white;
    transition: 0.3s, color 0.3s;
}

.inicio__history-link:hover{
    background-color: #f2f2f2bb;
}