.inicio__contact-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F5F7;
    gap: 20px;
    padding: 2rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.inicio__contact-title{
    color: #0F1A2B;
    margin: 10px;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Caesar Dressing', sans-serif; 
    text-align: center; 
}

.inicio__history-wimg{
    width: 320px;
    border: 5px solid #0F1A2B;
    border-radius: 50px;
}

.inicio__contact-descripcion{
    color: #0F1A2B;
    font-size: 20px;
    width: 90%;
    margin: 10px;
    text-align: start;
    line-height: 1.5;
    font-family: 'Baloo 2', sans-serif;
}

.inicio__contact-link{
    Font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    color: #ffffff;
    background-color: #0F1A2B;
    transition: 0.3s, color 0.3s;
}

.inicio__contact-link:hover{
    background-color: #013481;
}