.inicio__personajes-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #F2F5F7;
    padding: 30px;
    gap: 30px;
}

.inicio__personajes-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inicio__personajes-title{
    color: #0F1A2B;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Caesar Dressing', sans-serif;
}

.inicio__personajes-description{
    color: #0F1A2B;
    font-size: 20px;
    width: 90%;
    margin: 10px;
    text-align: start;
    line-height: 1.5;
    font-family: 'Baloo 2', sans-serif;
}

.inicio__personajes-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.inicio__personaje-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    width: 300px;
    padding: 20px;

    border: 2px solid #0F1A2B;
    border-radius: 20px;
    background-color: white;
}

.inicio__personaje-card:hover{
    border: 2px solid #0054d3;
    transition: 0.3s, color 0.3s;
}

.inicio__personaje-img{
    width: 250px;
    border: 1px solid #0F1A2B;
    border-radius: 50px;
}

.inicio__personaje-title{
    font-weight: bold;
    font-family: 'Caesar Dressing', sans-serif;
}

.inicio__personaje-text{
    text-align: center;
    font-family: 'Baloo 2', sans-serif;
}

.inicio__personaje-link{
    Font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    color: #ffffff;
    background-color: #0F1A2B;
    transition: 0.3s, color 0.3s;
}

.inicio__personaje-link:hover{
    background-color: #013481;
}

.inicio__personajes-link{
    Font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    color: white;
    background-color: #0F1A2B;
    transition: 0.3s, color 0.3s;
}

.inicio__personajes-link:hover{
    background-color: #013481;
}