.history-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history__block-blue{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F1A2B;
    gap: 20px;
    padding: 2rem;
}

.history__title-blue{
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: clamp(30px, 5vw, 50px);
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.history__subtitle-blue{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.history__block-wimg{
    width: 90%;
    max-width: 320px;
    border: 5px solid #0F1A2B;
    border-radius: 50px;
}

.history__description-blue{
    color: white;
    font-size: 20px;
    text-align: start;
    line-height: 1.5;
    font-family: 'Baloo 2', sans-serif;
}

.history__block-white{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f5f7;
    gap: 20px;
    padding: 2rem;
}

.history__title-white{
    color: #0F1A2B;
    margin: 10px;
    font-weight: bold;
    font-size: clamp(30px, 5vw, 50px);
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.history__subtitle-white{
    color: #0F1A2B;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.history__block-bimg{
    width: 90%;
    max-width: 320px;
    border: 5px solid #f2f5f7;
    border-radius: 50px;
}

.history__description-white{
    color: #0F1A2B;
    font-size: 20px;
    text-align: start;
    line-height: 1.5;
    font-family: 'Baloo 2', sans-serif;
}

