.history{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F1A2B;
    gap: 10px;
    padding: 2rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-size: cover;
    background-position: center;
    background-image: url('/assets/historia/mapas/Mapa-principal.png');
}

.history__block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    border-radius: 30px;
}

.history__title{
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.history__subtitle{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;  
}

.history__description{
    color: white;
    font-size: 20px;
    text-align: start;
    line-height: 1.5;
    font-family: 'Baloo 2', sans-serif;
}